<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SocialGame</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/faceFrog.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/changePass">Change password</a></div>
  </nav>
    <section id="tweets">
    <h3 class="emptyDomo">Help Page</h3>
    <h1 class="emptyDomo">The goal of the game is to share information, jokes, and other content with millions. And by that, I mean absolutely no one.</h1>
    <h1 class="emptyDomo">Spam your account tag on other websites to gain impressions and begin making your mark.</h1>
    <h1 class="emptyDomo">Use impressions to make new tweets which will earn you new followers.</h1>
    <h1 class="emptyDomo">Followers will earn you impressions over time so you can make more content.</h1>
    </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>