<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SocialGame</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/faceFrog.png" alt="face logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
  </nav>
    <section id="tweets">
    <div class="tweets">
          <h3 class="emptyDomo">404 Page not Found</h3>
    </div>
    </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>